// Import bootstrap mixins

@import "bootstrap/5.2.4/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "bootstrap/5.2.4/functions";
@import "bootstrap/5.2.4/variables";

// Import NTGov theme
@import "ntgbase/variables.scss";

// Define NTG colours
$ntg-theme-colours: (
  ntg-primary: $primary,
  ntg-primary-mid: $primary-mid,
  ntg-primary-light: $light-blue,
  ntg-secondary: $secondary,
  ntg-ochre: $ntg-ochre,
  ntg-ochre-mid: $ntg-ochre-mid,
  ntg-charcoal-grey: $ntg-charcoal-grey,
  ntg-arafura-blue: $ntg-arafura-blue,
  ntg-arafura-blue-mid: $ntg-arafura-blue-variant,
  ntg-sky-blue: $ntg-sky-blue,
  ntg-teal-blue: $ntg-teal-blue,
  ntg-bottle-green: $ntg-bottle-green,
  ntg-coral: $ntg-hot-coral,
  ntg-rubine-red: $ntg-rubine-red,
  ntg-deep-mauve: $ntg-deep-mauve,
  ntg-light: $ntg-light,
  ntg-white: $ntg-color-white,
  ntg-black: $ntg-color-black,
  ntg-dark: $ntg-color-dark,
  ntg-brown: $ntg-brown,
  ntg-grey-900: $ntg-charcoal-grey,
  ntg-grey-700: $ntg-grey-600,
  ntg-grey-500: $ntg-grey-500,
  ntg-grey-400: $ntg-grey-400,
  ntg-grey-100: $ntg-grey-200,
  ntg-color-header-bg: $ntg-color-header-background,
  ntg-color-header-background-neutral: $ntg-color-header-background-neutral,
  ntg-background-alt: $ntg-background-alt,
  ntg-background-light: $ntg-background-light,
);

// Merge NTG colours with BS defaults

$theme-colors: map-merge($ntg-theme-colours, $theme-colors);

///////////////////////////////////////////////////

// Bootstrap version 5.2.4 //

///////////////////////////////////////////////////

@import "bootstrap/5.2.4/maps";
@import "bootstrap/5.2.4/mixins";
@import "bootstrap/5.2.4/utilities";

// Layout & components
@import "bootstrap/5.2.4/root";
@import "bootstrap/5.2.4/reboot";
@import "bootstrap/5.2.4/type";
@import "bootstrap/5.2.4/images";
@import "bootstrap/5.2.4/containers";
@import "bootstrap/5.2.4/grid";
@import "bootstrap/5.2.4/tables";
@import "bootstrap/5.2.4/forms";
@import "bootstrap/5.2.4/buttons";
@import "bootstrap/5.2.4/transitions";
@import "bootstrap/5.2.4/dropdown";
@import "bootstrap/5.2.4/button-group";
@import "bootstrap/5.2.4/nav";
@import "bootstrap/5.2.4/navbar";
@import "bootstrap/5.2.4/card";
@import "bootstrap/5.2.4/accordion";
@import "bootstrap/5.2.4/breadcrumb";
@import "bootstrap/5.2.4/pagination";
@import "bootstrap/5.2.4/badge";
@import "bootstrap/5.2.4/alert";
@import "bootstrap/5.2.4/progress";
@import "bootstrap/5.2.4/list-group";
@import "bootstrap/5.2.4/close";
@import "bootstrap/5.2.4/toasts";
@import "bootstrap/5.2.4/modal";
@import "bootstrap/5.2.4/tooltip";
@import "bootstrap/5.2.4/popover";
@import "bootstrap/5.2.4/carousel";
@import "bootstrap/5.2.4/spinners";
@import "bootstrap/5.2.4/offcanvas";
@import "bootstrap/5.2.4/placeholders";

// Helpers
@import "bootstrap/5.2.4/helpers";

// Utilities
@import "bootstrap/5.2.4/utilities/api";
// scss-docs-end import-stack

///////////////////////////////////////////////////

// NTG Base version 5 //

///////////////////////////////////////////////////

// Import NTGov

// Configuration
@import "ntgbase/rem.scss";
@import "ntgbase/svgs.scss";

// Components
@import "ntgbase/components/ntgovau-accordion.scss";
@import "ntgbase/components/ntgovau-alerts.scss";
@import "ntgbase/components/ntgovau-callout.scss";
@import "ntgbase/components/ntgovau-nav-block.scss";
@import "ntgbase/components/ntgovau-one-col-text.scss";
@import "ntgbase/components/ntgovau-video.scss";
@import "ntgbase/components/ntgovau-minicards.scss";
@import "ntgbase/components/ntgovau-topics-cards.scss";
@import "ntgbase/components/ntgovau-quick-exit.scss";
@import "ntgbase/components/ntgovau-hero-banner.scss";
@import "ntgbase/components/ntgovau-image-gallery.scss";
@import "ntgbase/components/ntgovau-document-cards.scss";
@import "ntgbase/components/ntgovau-display-cards.scss";
@import "ntgbase/components/ntgovau-news-cards.scss";
@import "ntgbase/components/ntgovau-featured-content-small.scss";

// Layout Partials
@import "ntgbase/partials/ntgovau-utilities.scss";
@import "ntgbase/partials/global-spacing.scss";
@import "ntgbase/partials/mixins.scss";
@import "ntgbase/partials/ntgovau-agency-header.scss";
@import "ntgbase/partials/ntgovau-back-to-top.scss";
@import "ntgbase/partials/ntgovau-breadcrumb.scss";
@import "ntgbase/partials/ntgovau-buttons.scss";
@import "ntgbase/partials/ntgovau-decision-tree.scss";
@import "ntgbase/partials/ntgovau-featured-banner.scss";
@import "ntgbase/partials/ntgovau-figures.scss";
@import "ntgbase/partials/ntgovau-fillter-pattern.scss";
@import "ntgbase/partials/ntgovau-footer.scss";
@import "ntgbase/partials/ntgovau-footer-copyright.scss";
@import "ntgbase/partials/ntgovau-footer-logos.scss";
@import "ntgbase/partials/ntgovau-forms.scss";
@import "ntgbase/partials/ntgovau-header.scss";
@import "ntgbase/partials/ntgovau-icons.scss";
@import "ntgbase/partials/ntgovau-images.scss";
@import "ntgbase/partials/ntgovau-ingpage-nav.scss";
@import "ntgbase/partials/ntgovau-legacy.scss";
@import "ntgbase/partials/ntgovau-lists.scss";
@import "ntgbase/partials/ntgovau-nav.scss";
@import "ntgbase/partials/ntgovau-pagination-general.scss";
@import "ntgbase/partials/ntgovau-pagination-search.scss";
@import "ntgbase/partials/ntgovau-related-links.scss";
@import "ntgbase/partials/ntgovau-search.scss";
@import "ntgbase/partials/ntgovau-sidenav.scss";
@import "ntgbase/partials/ntgovau-sitemap.scss";
@import "ntgbase/partials/ntgovau-social-share.scss";
@import "ntgbase/partials/ntgovau-squiz-integrations.scss";
@import "ntgbase/partials/ntgovau-step-list.scss";
@import "ntgbase/partials/ntgovau-sticky-nav.scss";
@import "ntgbase/partials/ntgovau-subtopic.scss";
@import "ntgbase/partials/ntgovau-tables.scss";
@import "ntgbase/partials/ntgovau-tabs.scss";
@import "ntgbase/partials/ntgovau-topic.scss";
@import "ntgbase/partials/ntgovau-typography.scss";
@import "ntgbase/partials/ntgovau-print.scss";
