<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Component: Quick exit | NT.GOV.AU</title>

    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="description" content="" />
    <meta name="robots" content="" />
    <meta name="dcterms.title" content="" />
    <meta name="dcterms.creator" content="Northern Territory Government" />
    <meta name="dcterms.created" content="2023-01-25T09:51:33+09:30" />
    <meta name="dcterms.issued" content="1970-01-01T09:30:00+09:30" />
    <meta name="dcterms.modified" content="2023-01-25T13:50:20+09:30" />
    <meta
      name="dcterms.identifier"
      content="https://nt.gov.au/_development/test-bs-5.3.0/content-boilerplate"
    />
    <meta name="dcterms.subject" content="NT.GOV.AU" />
    <meta name="dc.language" content="en" />

    <meta property="og:title" content="Component: Quick exit" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://nt.gov.au/_development/test-bs-5.3.0/content-boilerplate"
    />
    <meta
      property="og:image"
      content="https://nt.gov.au/__data/assets/image/0010/807598/facebook-share-parks.png"
    />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="NT.GOV.AU" />
    <meta
      property="article:published_time"
      content="1970-01-01T09:30:00+09:30"
    />
    <meta
      property="article:modified_time"
      content="2023-01-25T13:50:20+09:30"
    />
    <meta property="article:tag" content="" />

    <script type="text/javascript">
      var $html = document.documentElement;
      if ($html.classList)
        $html.classList.remove("no-js"), $html.classList.add("js");
      else {
        var className = "no-js";
        ($html.className = $html.className.replace(
          new RegExp(
            "(^|\\b)" + className.split(" ").join("|") + "(\\b|$)",
            "gi"
          ),
          " "
        )),
          ($html.className += " js");
      }
    </script>

    <link
      type="text/css"
      rel="stylesheet"
      href="../../dist/globals/css/fontawesome.min.css"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://nt.gov.au/__data/assets/image/0008/1185686/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://nt.gov.au/__data/assets/image/0009/1185687/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://nt.gov.au/__data/assets/image/0010/1185688/favicon-16x16.png"
    />

    <!--<link href="https://nt.gov.au/_design/css/lightbox2.css" rel="stylesheet" type="text/css">-->

    <link
      type="text/css"
      rel="stylesheet"
      href="../../dist/ntgbase/ntgbase.min.css"
    />
  </head>

  <body>
    <div id="top"></div>

    <div id="skip-links"></div>

    <div class="container d-none d-print-block">
      <img
        src="https://nt.gov.au/__data/assets/file/0019/1111915/ntg-mono.webp"
        alt="ntg-mono"
      />
    </div>

    <header class="ntg-header d-print-none" id="header"></header>

    <div id="content_container_1185643">
      <div class="mobile-banner banner-search d-lg-none d-print-none">
        <div class="container">
          <div class="row">
            <div class="col-12 py-4">
              <form
                class="form-inline search d-print-none"
                action="https://nt.gov.au/search"
              >
                <div class="input-group p-0">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    name="query"
                    aria-label="Search"
                    autocomplete="off"
                  />
                  <div class="input-group-append">
                    <button class="btn" type="submit" aria-label="Apply search">
                      <span class="text-hide">Search</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="ntg-body">
      <!-- breadcrumbs -->

      <div class="breadcrumb-container pt-2">
        <div
          class="container-xl d-print-none ntg-breadcrumbs breadcrumb-section"
        >
          <nav aria-label="breadcrumb" role="navigation" class="mt-3">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">_development</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Test BS 5.3.0</a>
              </li>
              <li class="breadcrumb-item active">Boilerplate</li>
            </ol>
          </nav>
        </div>
      </div>

      <main id="content" class="ntg-body">
        <div class="container-xl pt-5">
          <div class="row">
            <div class="col my-0 mt-md-4 mb-md-1">
              <h1 class="pb-0 mb-0">Quick exit</h1>
            </div>
          </div>
        </div>

        <section class="mt-5 mb-5">
          <div class="container-xl">
            <div class="one-col-text">
              <div id="component_1238536">
                <div id="component_1238536">
                  <p>
                    Exit button provides a fast way for a user to exit the
                    current website. It can be used for all page types. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                    at sapien id lectus suscipit scelerisque. Vivamus pulvinar
                    tellus et nibh iaculis, ac aliquet enim interdum. Donec eu
                    sapien leo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div
          class="quick-exit position-fixed w-100 bottom-0 start-0 d-print-none"
          id="quickexit"
        >
          <div class="text-center text-bg-ntg-sky-blue position-relative py-3">
            <strong>Quick exit</strong>
          </div>
        </div>
      </main>
    </div>

    <footer
      id="footer"
      class="ntg-footer container-fluid pt-4 px-0"
      role="contentinfo"
    ></footer>

    <script
      type="text/javascript"
      src="../../dist/globals/js/jquery.min.js"
    ></script>

    <script
      type="text/javascript"
      src="../../dist/globals/js/bootstrap.min.js"
    ></script>

    <script
      type="text/javascript"
      src="../../src/js/ntgbase/components/quick exit/ntgovau-quickexit.js"
    ></script>

    <script>
      (function ($) {
        var $span = $('<span class="fa" style="display:none"></span>').appendTo(
          "body"
        );
        if ($span.css("font-family") !== '"Font Awesome 5 Pro"') {
          // Fallback Link
          $("head").append('<link href="./?a=1053458" rel="stylesheet">');
        }
        $span.remove();
      })(jQuery);

      $(function () {
        $("#skip-links").load("/assets/nesters/skiplinks.html");
        $("#header").load("/assets/nesters/header.html");
        $("#social-share").load("/assets/nesters/socialshare.html");
        $("#footer").load("/assets/nesters/footer.html");
      });
    </script>

    <script
      type="text/javascript"
      src="https://nt.gov.au/__data/assets/js_file_folder/0011/1085429/components-ntgov.js"
    ></script>

    <script
      type="text/javascript"
      src="https://nt.gov.au/__data/assets/js_file_folder/0011/1085951/global.js"
    ></script>
  </body>
</html>
