/*
-----------------------------
Document cards
-----------------------------
*/

.ntg-document-cards {
  a.external::after {
    content: none;
  }
}

@media print {
  .ntg-document-cards {
    .card-img-top {
      max-width: 30%;
      display: block;
      page-break-after: avoid;
      page-break-before: avoid;
    }
  }
}
