/*
Hero banner
-----------------------------
*/

.hero-banner {
  ul {
    padding-inline-start: 0;
    li:before {
      content: none;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .ntg-watermark {
    right: -100px;
    top: 90%;
    margin-top: -250px;
  }
  &.bg-ntg-background-purple-light {
    background-color: rgba(31, 31, 95, 0.75);
  }

  a.intro-text-link {
    &:hover {
      text-decoration: none !important;
    }
  }

  &.bg-ntg-background-home {
    .border-start {
      border-left: none !important;
    }
    ul li {
      display: inline-block;
      background: white;
      padding: 5px 7px;

      &.mb-2 {
        margin-bottom: 0.3rem !important;
      }

      &:hover {
        background: black;
      }
      a.text-white {
        color: black !important;
      }
      &:hover a.text-white {
        color: white !important;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: $media-sm) {
  .hero-banner {
    .border-start {
      border-left: none !important;
    }
    .ps-5 {
      padding-left: 1rem !important;
    }
    .ntg-watermark {
      display: none;
    }
  }
}

@media print {
  .hero-banner {
    .text-white {
      color: black !important;
    }
  }
}
