/*
Image gallery
-----------------------------
*/

.ntg-image-gallery {
    .img-thumbnail {
        width: 100%;
        height: 200px !important;
        object-fit: cover;
    }
    a {
        &:hover {
            padding-bottom: unset;
        }
    }

    .portrait-image {
        object-fit: contain !important;
        max-width: 100%;
        max-height: 100%;
    }
}