<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Component: callout | NT.GOV.AU</title>

    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="description" content="" />
    <meta name="robots" content="" />
    <meta name="dcterms.title" content="" />
    <meta name="dcterms.creator" content="Northern Territory Government" />
    <meta name="dcterms.created" content="2023-01-25T09:51:33+09:30" />
    <meta name="dcterms.issued" content="1970-01-01T09:30:00+09:30" />
    <meta name="dcterms.modified" content="2023-01-25T13:50:20+09:30" />
    <meta
      name="dcterms.identifier"
      content="https://nt.gov.au/_development/test-bs-5.3.0/content-boilerplate"
    />
    <meta name="dcterms.subject" content="NT.GOV.AU" />
    <meta name="dc.language" content="en" />

    <meta property="og:title" content="Component: callout" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://nt.gov.au/_development/test-bs-5.3.0/content-boilerplate"
    />
    <meta
      property="og:image"
      content="https://nt.gov.au/__data/assets/image/0010/807598/facebook-share-parks.png"
    />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="NT.GOV.AU" />
    <meta
      property="article:published_time"
      content="1970-01-01T09:30:00+09:30"
    />
    <meta
      property="article:modified_time"
      content="2023-01-25T13:50:20+09:30"
    />
    <meta property="article:tag" content="" />

    <script type="text/javascript">
      var $html = document.documentElement;
      if ($html.classList)
        $html.classList.remove("no-js"), $html.classList.add("js");
      else {
        var className = "no-js";
        ($html.className = $html.className.replace(
          new RegExp(
            "(^|\\b)" + className.split(" ").join("|") + "(\\b|$)",
            "gi"
          ),
          " "
        )),
          ($html.className += " js");
      }
    </script>

    <link
      type="text/css"
      rel="stylesheet"
      href="../../dist/globals/css/fontawesome.min.css"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://nt.gov.au/__data/assets/image/0008/1185686/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://nt.gov.au/__data/assets/image/0009/1185687/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://nt.gov.au/__data/assets/image/0010/1185688/favicon-16x16.png"
    />

    <!--<link href="https://nt.gov.au/_design/css/lightbox2.css" rel="stylesheet" type="text/css">-->

    <link type="text/css" rel="stylesheet" href="../../dist/ntgbase/ntgbase.min.css" />
  </head>

  <body>
    <div id="top"></div>

    <div id="content_container_1185661">
      <div class="skip-links">
        <ul>
          <li><a href="#content">Skip to content</a></li>
          <li><a href="#footer">Skip to footer</a></li>
        </ul>
      </div>
    </div>

    <div class="container d-none d-print-block">
      <img
        src="https://nt.gov.au/__data/assets/file/0019/1111915/ntg-mono.webp"
        alt="ntg-mono"
      />
    </div>

    <header class="ntg-header" id="header">
      <div class="navbar navbar-expand-md navbar-dark">
        <div class="container-xl py-4 py-md-0 d-flex justify-content-between">
          <a href="https://nt.gov.au">
            <img
              alt="NT.GOV.AU logo"
              src="/assets/images/ntg-desert-rose-reverse.svg"
              class="site-logo d-print-none"
            />
            <span class="text-hide d-print-block site-name mt-5"
              >NT.GOV.AU</span
            >
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <nav
            class="nav nav-masthead justify-content-center d-print-none d-none d-md-flex"
            aria-role="navigation"
          >
            <!--<a href="https://coronavirus.nt.gov.au" class="nav-link bg-blue" id="covidWebsiteLink" title="For COVID-19 news, updates and alerts, go to the coronavirus website.">Coronavirus (COVID-19) &nbsp<i class="fal fa-external-link-square fa-lg mr-2"></i></a>-->
            <a href="" class="nav-link">Contacts</a>
            <div class="ps-4 d-lg-flex d-none">
              <form
                class="form-inline ntg-header-search search d-print-none"
                action="https://nt.gov.au/search"
              >
                <div class="input-group p-0">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    name="query"
                    aria-label="Search"
                    autocomplete="off"
                  />
                  <div class="input-group-append">
                    <button class="btn" type="submit" aria-label="Apply search">
                      <span class="text-hide">Search</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </nav>
        </div>
      </div>

      <nav
        class="collapse navbar-collapse navbar-dark d-md-none"
        id="navbarCollapse"
        aria-role="navigation"
      >
        <div class="navbar-nav">
          <!--<a class="nav-link nav-link-promote" href="https://coronavirus.nt.gov.au">Coronavirus (COVID-19)-->
          <!--    <i class="fal fa-external-link-square fa-lg mr-2"></i>-->
          <!--</a>-->

          <a class="nav-link" href="#">Contacts</a>

          <a class="nav-link active" aria-current="page" href="#"
            >Arts, sport and leisure</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Boating, fishing and marine</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Business and industry</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Community support and care</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Driving and transport</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Education and learning</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Emergency and safety</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Employment, money and taxes</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Environment</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Health and wellbeing</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Housing, property and land</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Parks and reserves</a
          >

          <a class="nav-link active" aria-current="page" href="#"
            >Your rights, crime and the law</a
          >
        </div>
      </nav>
    </header>
    <div id="content_container_1185643">
      <div class="mobile-banner banner-search d-lg-none d-print-none">
        <div class="container">
          <div class="row">
            <div class="col-12 py-4">
              <form
                class="form-inline search d-print-none"
                action="https://nt.gov.au/search"
              >
                <div class="input-group p-0">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    name="query"
                    aria-label="Search"
                    autocomplete="off"
                  />
                  <div class="input-group-append">
                    <button class="btn" type="submit" aria-label="Apply search">
                      <span class="text-hide">Search</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="ntg-body">
      <!-- breadcrumbs -->

      <div class="breadcrumb-container pt-2">
        <div
          class="container-xl d-print-none ntg-breadcrumbs breadcrumb-section"
        >
          <nav aria-label="breadcrumb" role="navigation" class="mt-3">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">_development</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Test BS 5.3.0</a>
              </li>
              <li class="breadcrumb-item active">Boilerplate</li>
            </ol>
          </nav>
        </div>
      </div>
      <main id="content">
        <div class="container-xl pt-4">
          <div class="row">
            <div class="col my-0 my-md-4 content__main">
              <!-- main content -->
              <h1 class="pb-3">Component: accordion</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                viverra justo eu mattis faucibus. Class aptent taciti sociosqu
                ad litora torquent per conubia nostra, per inceptos himenaeos.
                Maecenas tincidunt pellentesque aliquet. Fusce non lorem vel
                metus cursus fermentum facilisis ac lectus. Nullam facilisis
                maximus risus, in commodo lorem mollis at. Nam dictum tempus
                odio non mollis. Quisque egestas ut erat et mattis. Morbi nunc
                risus, eleifend ac rutrum in, pharetra quis enim. Fusce vitae
                ultrices orci, at interdum justo. Pellentesque vitae diam
                mattis, laoreet velit in, tincidunt lacus. Nunc dictum lacus
                ligula, quis rhoncus diam tempus et. Etiam semper ex felis, nec
                lacinia nibh vulputate ac. Sed molestie facilisis mi
                pellentesque posuere. Aliquam vitae risus nec nibh tempor
                tincidunt ut non urna. Nam nisi justo, volutpat rhoncus tellus
                at, pellentesque pretium sapien. Nullam eu convallis elit.
              </p>
            </div>
            <!-- right menu -->
            <div class="col-md-4 my-4 d-print-none">
              <section class="ntg-sidenav">
              <div class="ntg-sidenav__title">
                <a href="https://nt.gov.au/_development/metadata">
                  New bootstrap layout
                </a>
              </div>
              <ul class="list-group list-group-flush">
                <li href="#" class="list-group-item active">
                  <a href="#">First item</a>
                  <ul class="list-group">
                    <li class="list-group-item"><a href="#">Sub item 1</a>
                      <ul class="list-group">
                        <li class="list-group-item"><a href="#">Sub sub item 1</a></li>
                        <li class="list-group-item"><a href="#">Sub sub item 2</a></li>
                    </ul>
                    </li>
                    <li class="list-group-item"><a href="#">Sub item 2</a></li>
                    <li class="list-group-item"><a href="#">Sub item 3</a></li>
                  </ul>
                </li>
                <li class="list-group-item"><a href="#">Second item</a></li>
                <li class="list-group-item"><a href="#">Third item</a></li>
                <li class="list-group-item"><a href="#">Fourth item</a></li>
                <li class="list-group-item"><a href="#">Fifth item</a></li>
              </ul>
          </section>

          </div>
          <!-- //row 1 -->

          <div class="row">
            <div class="col-12 mb-4 content__extra">
              <!-- Social share -->
              <!-- Give feedback -->
            </div>
          </div>
          <!-- //row 2 -->
        </div>
        <!-- // container -->
      </main>
    </div>

    <footer
      id="footer"
      class="ntg-footer container-fluid pt-4 px-0"
      role="contentinfo"
    >
      <div class="container-xl">
        <div class="back-to-top d-print-none">
          <a href="#header"><span class="text-hide">Back to top</span></a>
        </div>

        <div class="row footer-links d-print-none">
          <div class="col-sm-12 col-lg-6 pe-lg-5">
            <h3>Information and services</h3>

            <ul class="footer-topics">
              <li>
                <a href="#">Arts, sport and leisure</a>
              </li>
              <li>
                <a href="#">Boating, fishing and marine</a>
              </li>
              <li>
                <a href="#">Business and industry</a>
              </li>
              <li>
                <a href="#">Community support and care</a>
              </li>
              <li>
                <a href="#">Driving and transport</a>
              </li>
              <li>
                <a href="#">Education and learning</a>
              </li>
              <li>
                <a href="#">Emergency and safety</a>
              </li>
              <li>
                <a href="#">Employment, money and taxes</a>
              </li>
              <li><a href="#">Environment</a></li>
              <li>
                <a href="#">Health and wellbeing</a>
              </li>
              <li>
                <a href="#">Housing, property and land</a>
              </li>
              <li>
                <a href="#">Your rights, crime and the law</a>
              </li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3 pe-md-5">
            <h3>Find out more</h3>

            <ul>
              <li>
                <a href="#">About government</a>
              </li>
              <li>
                <a href="#">Public consultations</a>
              </li>
              <li>
                <a href="#">NT public holidays</a>
              </li>
              <li><a href="#">Media releases</a></li>
              <li>
                <a href="#">Government grants</a>
              </li>
              <li>
                <a href="#">Government directory</a>
              </li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3 footer-social d-print-none">
            <h3>Connect with us</h3>

            <ul class="ps-0">
              <li>
                <a href="#"
                  ><i class="fab fa-facebook-square fa-2x"></i> Facebook</a
                >
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin fa-2x"></i> LinkedIn</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fab fa-youtube-square fa-2x"></i> Youtube</a
                >
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram fa-2x"></i> Instagram</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fal fa-comment fa-2x"></i> Have Your Say</a
                >
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12 footer-logo pt-2">
            <a href="#"
              ><img
                class="ntg-logo-footer"
                src="https://nt.gov.au/__data/assets/file/0003/1009830/ntg-logo-mono.svg"
                alt="Visit NT.GOV.AU"
                style="height: 61px; padding-right: 30px"
            /></a>
            <a href="#"
              ><img
                class="ntg-logo-footer"
                src="https://nt.gov.au/__data/assets/file/0004/1009831/bp-logo-mono.svg"
                alt="Visit The Territory Boundless Possible website"
                style="height: 58px"
            /></a>
            <!--<a href="https://boundlesspossible.nt.gov.au"><img class="ntg-bp-logo" src="https://nt.gov.au/__data/assets/file/0011/578450/ntg-bp-logo-lockup-mono.svg" alt="Visit The Territory Boundless Possible website"></a>-->
            <!--a href="https://nt.gov.au"><img src="https://nt.gov.au/__data/assets/file/0007/517228/ntg-primary-colour.svg" alt="Northern Territory Government logo"/></a-->
          </div>

          <div class="col-12 footer-site-links pt-4 pb-2 d-print-none">
            <div></div>
          </div>
        </div>
      </div>

      <div class="footer-copyright abc">
        <div class="container-xl pb-3">
          <div class="first-nations-notice m-2">
            <div class="row">
              <div class="col-12 col-lg-11 pt-4 pb-4 ps-0">
                <div id="content_container_1084006">
                  <p>
                    The Northern Territory Government respectfully acknowledges
                    the First Nations people of this country and recognises
                    their continuing connections to their lands, waters and
                    communities. We pay our respects to the Aboriginal and
                    Torres Strait Islander cultures, and to their leaders past,
                    present and emerging.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12"></div>
            <div class="col-md-12">
              <div class="left-container">
                <p>© 2023 Northern Territory Government of Australia</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/dist/js/jquery.min.js"></script>

    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>

    <script>
      (function ($) {
        var $span = $('<span class="fa" style="display:none"></span>').appendTo(
          "body"
        );
        if ($span.css("font-family") !== '"Font Awesome 5 Pro"') {
          // Fallback Link
          $("head").append('<link href="./?a=1053458" rel="stylesheet">');
        }
        $span.remove();
      })(jQuery);
    </script>

    <script
      type="text/javascript"
      src="https://nt.gov.au/__data/assets/js_file_folder/0011/1085429/components-ntgov.js"
    ></script>

    <script
      type="text/javascript"
      src="https://nt.gov.au/__data/assets/js_file_folder/0011/1085951/global.js"
    ></script>
  </body>
</html>
