
/*
-----------------------------
  legacy class
-----------------------------  
*/
.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/*
  Page last updated
*/
.updated {
  color: #666;
}
